---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: general

"on":
  pull_request:
  push:
    branches:
      - master

jobs:
  general:
    runs-on: macos-latest

    steps:
      - name: Clone source
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run check
        run: nix flake check --all-systems

...
