---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: release

"on":
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 1"

permissions:
  contents: read
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Checkout source
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}

      - name: Setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install releaser
        run: |
          npm install -g \
            semantic-release@25.0.2 \
            @semantic-release/changelog \
            @semantic-release/git \
            @semantic-release/github \
            conventional-changelog-conventionalcommits

      - name: Run releaser
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
        run: semantic-release

      - name: Write buildtime
        run: date >| .github/RELEASE

      - name: Update repo
        run: git pull --rebase --autostash

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: thomas@webhippie.de
          add: .github/RELEASE
          message: "docs: automated release update [skip ci]"
          push: true
          commit: --signoff

...
